/*second*/
.second_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 50px;
}

.second--img_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: auto;
}

.second--img1,
.second--img2 {
  transition: all 1s ease-in-out;
}

.second--img1:hover,
.second--img2:hover {
  transform: scale(1.05);
}
