/*second*/
.second_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
}

.second--img_container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.second--img1,
.second--img2 {
  transition: all 1s ease-in-out;
}

.second--img1:hover,
.second--img2:hover {
  transform: scale(1.05);
}
