.shopSnip_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
  padding-left: 100px;
  padding-top: 0px;
  gap: 30px;
}

.shopSnip--left_container {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.shopSnip--text_content {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.shopSnip--title {
  font-size: 5vw;
  font-family: "Bungee Shade";
}

.shoSnip--description {
  font-size: 3vw;
}

.shopSnip--shop_button {
  font-size: 1.5vw;
  height: 7vh;
  width: 10vw;
  border: solid black 2px;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.shopSnip--shop_button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}
.shopSnip--card_container {
  grid-column-start: 3;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
